<div class="center jumbotron">
  <h1>Welcome to RDPC Web X</h1>
  <h2>This is my first Ruby on Rails app</h2>
  
  <%= link_to "sing up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      view data as Guest User
    </h3>
    <h2 class="left">Browse data as guest and sign up</h2>
    <P><%= link_to "Browse Data Listing", "", class: "btn btn-warning btn-small" %></P>
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      view data as Guest User
    </h3>
    <h2 class="left">Browse data as guest and sign up</h2>
    <P><%= link_to "Browse Data Listing", "", class: "btn btn-warning btn-small" %></P>
  </div>
    <div class="col-lg-4">
    <h3 class="midrow">
      view data as Guest User
    </h3>
    <h2 class="left">Browse data as guest and sign up</h2>
    <P><%= link_to "Browse Data Listing", "", class: "btn btn-warning btn-small" %></P>
  </div>
  
</div>