<!DOCTYPE html>
<html>
  
  <%= render 'layouts/headtag' %> 
  
<body>
  
  <%= render 'layouts/navigation' %>
  
  <div class="container">
  <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %> 
  
</body>

</html>
